:root {
    --heading-font-color: #00241B;
    --dark-font-color: #172236;
    --light-font-color: #ffffff;
    --heading-font: "Ubuntu",
        sans-serif;
    --logo-font: "Kalnia Glaze", serif;
    --paragraph-font: "Rubik", sans-serif;
    --paragraph-font-color: #172236;
    --primary-color-dark:#172236 ;
    --primary-color-light: #374B4A;
    --sec-color-dark:#88D9E6;
    --sec-color-light:#C5FFFD ;
    --cta-bgcolor: #FF2400;
    --accent1-color: #8B8BAE;
    --accent2-color: #66FF77;
    --webpage-bgcolor: #FFCCD5;
    --links-bgcolor: #93E5AB;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #172236;
    /* background-image: radial-gradient(650px circle at 0% 0%,
            hsl(219, 41%, 35%),
            hsl(218, 41%, 30%),
            hsl(219, 41%, 20%),
            hsl(218, 41%, 19%),
            transparent 100%); */
}

.container{
    min-height: 100vh;
    background-image: url("images/banner.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}

nav{
    background-color: var(--accent2-color);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 5px var(--cta-bgcolor);
    position: relative;
}

nav ul{
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    align-items: center;
}

nav li{
    height: 50px;
    display: block;
}

nav a{
    display: flex;
    align-items: center;
    margin-right: 2rem;
    color: var(--dark-font-color);
    font-weight: 600;
    font-family: var(--paragraph-font);
    background-color: #fff;
    padding: .5rem 1rem;
    border-radius: 20px;
    text-decoration: none;
    border: 2px solid var(--accent1-color);
    
}

nav a:hover{
    background-color: var(--dark-font-color);
    color: #fff;
}

nav li:first-child{
    margin-right: auto;
}

.logo {
    font-family: var(--logo-font);
    font-size: 2rem;
    width: 100px;
    text-align: center;
    padding-top: 0.5rem;
    padding-left: .5rem;
    background-color: var(--accent2-color);
    border: none;
}

.logo:hover{
    background-color: var(--accent2-color);
    cursor: pointer;
}

 a.active{
     color: var(--light-font-color);
     background-color: var(--cta-bgcolor);
    }
    a.active:hover{
        color:var(--cta-bgcolor) ;
        background-color:var(--light-font-color) ;
    }

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 0, 0.279);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px red;
    display: none;
}

/* Main Section */
main{
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
}
aside{
    background-color: yellow;
    /* display: none; */
}

.hero{
    background-color: rebeccapurple;
}
h1{
    text-align: center;
}