/* 

https://coolors.co/5bc0eb-eb895b-070707-e0d3de-66ff66;
font-family: "Roboto", sans-serif;
font-family: "Gravitas One", serif;
font-family: "Noto Sans", sans-serif;

*/

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: auto auto 1fr auto; */
  padding: 10px;
  margin: 0 auto;
  max-width: 800px;
  border: 1px solid red;
  background-color: aqua;
  position: relative;
}

nav {
}

header {
}

main {
}

footer {
}

nav ul {
}

nav ul li:nth-child(2) {
}

nav ul li {
}

footer {
}
