/* 

https://coolors.co/5bc0eb-eb895b-070707-e0d3de-66ff66;
font-family: "Roboto", sans-serif;
font-family: "Gravitas One", serif;
font-family: "Noto Sans", sans-serif;

*/

body {
  padding: 0 2rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: auto auto 1fr auto; */
  padding: 0.65rem;
  margin: 0 auto;
  max-width: 800px;
  border: 1px solid red;
  background-color: aqua;
  position: relative;
  margin: 0 auto;
}

/* ***************************** NAVIGATION **************************************** */
nav {
  background-color: aqua;
  display: flex;
  column-gap: 1rem;
  align-items: center;
}
nav h4 {
  margin-top: 2rem;
}

nav ul {
  /* display: none; */
  list-style: none;
}

nav ul li {
  margin-left: 2rem;
}
.theme {
}
span img {
  display: block;
  width: 2rem;
  height: auto;
  cursor: pointer;
}

.hamburger {
  /* background-color: none; */
  background: none;
  border: none;
  color: #7b3f00;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hamburger::after {
  content: "\2630";
  font-size: 2rem;
}

.hamburger.show::after {
  content: "\00d7";
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav a img {
  display: block;
  width: 1.5rem;
  height: auto;
  border: 1px solid red;
  padding: 0.25rem;
  margin-left: 1rem;
  /* margin-top: 0.5rem; */
}

header {
  background-image: url("../images/banner-small.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 {
  color: #ffffff;
  font-size: 3rem;
  border: 2px solid white;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  background-color: red;
}

main {
}

footer {
}

nav ul {
}

nav ul li:nth-child(2) {
}

nav ul li {
}

footer {
}
