* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}



.container {
  max-width: 960px;
  margin: 0 auto;
  border: 1px solid red;
}
h1,h2,h3,h4,h5,h6{
  font-family: "Rubik", serif;
}

nav {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: aquamarine;
  position: relative;
  height: 3.75rem;
}
nav ul {
  display: flex;
  gap: 30px;
}

nav ul li {
  list-style-type: none;
}
nav ul li a {
  text-decoration: none;
  padding: 0.5rem;
  font-size: 1.2rem;
  color: rgb(6,65,82);


}

.active{
  background-color: white;
  border: 1px solid green;
  padding: 0.5rem;
}
nav ul li a:hover {
  color: white;

  background-color: rgba(6,65,82, 0.6);;
  padding: 0.5rem;
  border: 6px;
  transition: all 0.25s ease;
}

.menu-icon {
  display: none;
}

/*  */

.logo {
  display: flex;
  /* color: white; */
  font-size: 1.2rem;
}
.text-box {
  display: flex;
  flex-direction: column;
}

.logo-text {
  font-size: 1.2rem;
}

.menu-icon {
  display: flex;
  align-items: center;
  justify-items: center;
}

.menu-icon img {
  margin-right: 1.5rem;
}

.banner-box {
  width: 100%;
  height: 50vh;
}
.banner-box img {
  max-width: 100%;
  height: auto;
  float: right;
}

.buttonLink{
  font-size: 2.5rem;
  position: absolute;
  bottom:  1rem;
  left:  65%;
  text-decoration: none;
  background-color: #f98178;
  border: 2px solid black;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  color: aqua;
}

.buttonLink:hover{
  color: rgb(6,65,82);
  background-color: aqua;
  transition: all 0.25s ease;
}
h2{
  background-color: #f98178;
}

main {
  clear: right;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 4fr 3fr;
}

.upper-box section{
  border: 1px solid rgb(89, 81, 81);
  border-radius: 8px;

}

h1 {
  grid-column: 1 / 5;
  grid-row: 1 / 2;
}
.upper-box {
  grid-column: 1 / 5;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.875rem;
  border: 3px solid green;
  padding: 0.5rem 0.5rem;

}
.events {
  grid-column: 1 / 3;
  border: 1px solid white;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  text-align: center;
}
.current {
  grid-column: 3 / 4;
  border: 1px solid white;
  text-align: center;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "h2 h2"
  "first second"
  ;
  margin-bottom: 0.5rem;
}.current h2{
  grid-area: h2;
}

.img-container{
  grid-area: first;
}

.text-content{
  text-align: left;
  grid-area: second;
}
.forecast {
  grid-column: 4 / 5;
  border: 1px solid white;
  text-align: center;

  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.lower-box {
  grid-column: 1 / 5;
  grid-row: 3 / 4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem;
  gap: 1rem;
  border: 3px solid green;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(89, 81, 81);
  padding: 0.5rem 1rem;
  border-radius: 6px;
  width: 300px;
}
.card img{
  width: 60px;
  height: auto;
  margin-top: 1rem;
}
.title-bar {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  border-bottom: 1px solid white;
}

.desc {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.desc-text{
  margin-top: 0.5rem;
}
.desc-text p{
  font-size: 0.9rem;
  margin-left: -0.5rem;
}
.desc-text span{
font-weight: 700;
font-family: "Rubik", serif;
}

footer{
  display: flex;
  justify-content: space-around;
  /* justify-content: space-between; */
  align-items: center;
  padding: 1rem 0;
}

.media-box {
display: flex;
align-items: center;
justify-content: space-between;
}
.media-box img{
  width: 1.5rem;
  height: auto;
}

.normalText{
  font-weight: normal;
}
.forecastContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
}

/*  */

@media (max-width: 600px) {
  nav ul {
    position: absolute;
    top: 3.75rem;
    left: 0;
    right: 0;
    flex-direction: column;
    text-align: center;
    gap: 0;
    background-color: aquamarine;
    overflow: hidden;
  }
  nav ul li {
    padding: 20px;
    list-style-type: none;
    margin-bottom: 0.125rem;
  }

  .buttonLink{
    font-size: 1.5rem;
    position: absolute;
    bottom:  10rem;
    left:  40%;
    text-decoration: none;
  }

  .menu-icon {
    display: block;
  }

  .menuList {
    transition: all 0.75s ease-out;
  }

  .logo {
    display: flex;
    /* color: white; */
  }
  .logo-svg {
    border: 1px solid purple;
  }
  .text-box {
    display: flex;
    flex-direction: column;
  }

  .logo-text {
    font-size: 1.2rem;
  }

  .menu-icon {
    display: flex;
    align-items: center;
    justify-items: center;
  }

  .menu-icon img {
    margin-right: 1.5rem;
  }

  .ham-icon {
    font-size: 2rem;
    background: none;
    position: absolute;
    right: 0.5rem;
    top: 5px;
  }
  .ham-icon::before {
    content: "✖️";
  }

  .ham-icon.open::before {
    content: "☰";
  }

  .open span {
    display: block;
  }

  .hide {
    display: none;
  }

  main {
    display: grid;
    grid-template-columns: 1fr;
  }

  .upper-box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 1rem;
  }

  .lower-box {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
    gap: 1rem;
  }

  .events {
    grid-column: 1 / 2;
    border: 1px solid white;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    text-align: center;
  }
  .current {
    grid-column: 1 / 2;
    border: 1px solid white;
    text-align: center;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
  .forecast {
    grid-column: 1 / 2;
    border: 1px solid white;
    text-align: center;
  
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

  footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* justify-content: space-between; */
    align-items: center;
    padding: 1rem 0;
  }
  
  .media-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem auto;
  }
  .media-box img{
    width: 1.5rem;
    height: auto;
  }
}



/* CSS Rules for the Directory Page */

.directory-container{
  display: grid;
  /* grid-template-columns: 1fr; */
}

.directory-heading{
  text-align: center;
}

.directory-main{
  display: grid;
  grid-template-columns: 1fr;
}

.menu{
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
  background-color: rgb(23, 34, 54);
  margin-bottom: 1rem;
}
.directory-content{
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 0.5rem;

  column-gap: 30px;
  row-gap: 30px;
  /* font-size: 1.1rem; */
  font-family: "Montserrat", sans-serif;

}

.grid p:first-child{
  display: none;
}
.list {
	display: flex;
	flex-direction: column;
}

.list section {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr 1fr;
	margin: 0;
	padding: 0.25rem;
}
.list section img {
	display: none; /* smaller viewports only */
}

.list section:nth-child(even) {
  background-color: rgb(23, 34, 54);
  color: #efefef;

}

.directory-card{
  box-shadow: 0 5px 15px rgb(23, 34, 54);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
  padding: 1rem;
}

.directory-grid{
  display: grid;

}
.directory-list{
  display: grid;
  grid-template-columns: repeat(4, 1fr);

}