@media screen and (min-width: 540px) {
    .lower-box{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}


@media screen and (min-width: 760px) {
    .lower-box{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
    }
}