@media screen and (min-width: 38rem) {

    header {
        display: grid;
        grid-template-columns: 24px auto auto 45px 45px;
        /* align-items: center; */
        /* justify-content: space-between; */
    }

    nav {
        display: none;
    }

    header #nav-container {
        display: block;
    }

    header a img {
        /* margin-left: auto; */
    }

    header #nav-container ul {
        list-style-type: none;
        display: flex;
        column-gap: 1rem;
    }

    /* ******************** FOOTER ********************** */
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 1rem;
    }
}