* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body,
  .container {
    height: 100%;
    width: 100%;
  }

  body {
    background-color: aqua;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr;
  }

  
  nav {
    padding: 0.625rem 1.875rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: blue;
    position: relative;
    height: 3.75rem;
  }
  
  nav ul {
    display: flex;
    flex-direction: column;
    top: 3.75rem;
    left: 0;
    right: 0;
    text-align: center;
    gap: 0;
    overflow: hidden;
    background-color: red;
    position: absolute;
  }

  nav ul li {
    list-style-type: none;
    padding: 1rem;
  }

  nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
  }
  
  .logo {
    display: flex;
    color: white;
  }
  .text-box {
    display: flex;
    flex-direction: column;
  }
  
  .logo-text {
    font-size: 1.2rem;
  }

  .menu-icon {
    display: flex;
    align-items: center;
    justify-items: center;
  }
  
  .menu-icon img{
      margin-right: 1.5rem;
  }
  
  .ham-icon {
    font-size: 2rem;
    background: none;
    color: #000;
    position: absolute;
    right: 0.5rem;
    top: 5px;
  }
  .ham-icon::before {
      content: "✖️";
  }
  
  .ham-icon.open::before {
      content: "☰";
  }
  
  .open span {
      display: block;
  }
  
  .hide {
      display: none;
  }
  
  