/* @media screen and (min-width: 640px) {
    nav ul {
        display: flex;
        gap: 1.875rem;
        }
        
        .ham-icon {
            display: none;
            }
            
            } */

@media screen and (min-width: 640px) {
  nav{
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: blue;
    position: relative;
  }

  nav ul{
    display: flex;
    gap: 30px;
  }

  .ham-icon {
display: none;
}

}
