.container {
    display: grid;
}

header {
    display: grid;
    grid-template-columns: 24px auto 45px;
    padding: 0.3125rem 0 0.3125rem 0.625rem;
    border-bottom: 1px solid gray;
    column-gap: 0.5rem;
    align-items: end;

}

header img {
    width: 100%;
    height: auto;
    padding-bottom: 0.3125rem;
}

.hamburger {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
}

.hamburger::before {
    content: "\2630";
    border: none;
}

.hamburger.show::before {
    content: "\00d7";
}