/* 
Raleway: CSS class for a variable style
.raleway-<uniquifier> {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

Google Sans: CSS class for a variable style

.google-sans-<uniquifier> {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "GRAD" 0;
}

Montserrat: CSS class for a variable style

.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


*/


.container {
    /* display: grid; */
    /* grid-template-columns: 1fr; */
    margin: 1rem auto;
    padding: 10px;
}

header {
    display: grid;
    grid-template-columns: 24px auto 45px;
    padding: 0.3125rem 0 0.3125rem 0.625rem;
    border-bottom: 1px solid gray;
    column-gap: 0.625rem;
    align-items: end;

}

header img {
    width: 100%;
    height: auto;
    display: block;
    padding-bottom: 0.3125rem;
}

header span {
    font-size: 1.2rem;
    font-weight: bold;
    color: blue;
}

/* ***************** HAMBURGER NAVIGATION ************** */

.hamburger {
    border: none;
    background: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
}

.hamburger::before {
    content: "\2630";
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
}

.hamburger.show::before {
    content: "\00d7";
}

/* **************** NAVIGATION********************** */


.navbar {
    display: none;
    padding-left: 0.625rem;
}

.links {
    list-style-type: none;
    width: 100%;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.links li {
    height: 45px;
    display: flex;
    align-items: center;
}

.links li a {
    width: 100%;
    text-decoration: none;
    padding: 0.5rem 0.625rem;
    color: #333;
}

.navbar ul li a:hover {
    background-color: blue;
    color: red;
}

.navbar {
    display: none;
}

.navbar.show {
    display: block;
}

.navbar {
    background-color: aqua;
    width: 100%;
}

/* *********************** MAIN *********************** */
main {
    display: grid;
    padding-left: 0.625rem;
}

h1 {
    /* padding-left: 0.625rem; */
}

section {
    display: grid;
    align-items: center;
    justify-items: center;
    border: 1px solid red;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
}

section h2 {
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px 0.625rem;
}

/* ********************** Courses Section************************* */
#course-box {
    display: grid;
    width: 100%;
}