/* ***************************** COLOR SCHEME **************************************** 
#7b3f00, #311900 and #ffffbb

*/

/* ***************************** CSS RESET **************************************** */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
}

/* ***************************** HEADER  **************************************** */

header {
  display: grid;
  grid-template-columns: 1.5rem auto 3rem;
  padding: 5px 0 5px 10px;
  border-bottom: 1px solid red;
  column-gap: 0.5rem;
}

header img {
  display: block;
  width: 100%;
  height: auto;
}

header span {
  font-size: 1.2rem;
  color: #311900;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 5px;
}

/* ***************************** NAVIGATION **************************************** */

.hamburger {
  background-color: none;
  border: none;
  color: #7b3f00;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hamburger::after {
  content: "\2630";
  font-size: 2rem;
}

.hamburger.show::after {
  content: "\00d7";
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ************************************** */

.navigation {
  display: none;
}
.navigation.show {
  display: block;
}

.navigation ul {
  list-style: none;
  display: block;
}
.navigation ul li {
}
.navigation ul li a {
  text-decoration: none;
  display: block;
  color: #7b3f00;
  padding: 0.9rem 0.625rem;
  border-bottom: 1px solid #311900;
}
.navigation ul li a:hover {
  background-color: #311900;
  color: #ffffbb;
}

.navigation ul li.current {
  background-color: rgba(255, 0, 0, 0.3);
}

footer {
  background-color: #ffffbb;
  padding: 1rem 10px;
  text-align: center;
}
.social {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
}

.social a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border: 1px solid #311900;
  border-radius: 50%;
}
.social a:hover {
  color: #ffffbb;
  background-color: rgba(255, 0, 0, 0.3);
}
.social a img {
  width: 1.3rem;
  height: 1.3rem;
}
