/* ***************************** COLOR SCHEME **************************************** 
#7b3f00, #311900 and #ffffbb

*/

/* ***************************** CSS RESET **************************************** */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
}

header {
  display: grid;
  grid-template-columns: 1.5rem auto 3rem;
  padding: 5px 0 5px 10px;
  border-bottom: 1px solid red;
  column-gap: 0.5rem;
}

header img {
  display: block;
  width: 100%;
  height: auto;
}

header span {
  font-size: 1.2rem;
  color: #311900;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 5px;
}

/* ***************************** NAVIGATION **************************************** */

.hamburger{
  background-color: none;
  border: none;
  color: #7b3f00;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hamburger::after{
  content: "\2630";
  font-size: 2rem;
}

.hamburger.show::after {
  content: "\00d7";
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ************************************** */



#nav-bar