* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}

main {
  margin: 0 auto;
  /* padding: 15px; */
}

header {
  align-self: center;
  text-align: center;
}

#cards {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  padding: 0.5rem 1rem;
  align-items: flex-start;
}

section {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  padding: 15px;
  border: 2px solid red;
  border-radius: 8px;
}

h1 {
  border-bottom: 1px solid red;
  margin-bottom: 1rem;
}

h2 {
  margin: 1.5rem 2rem 0.5rem 2rem;
}

img {
  width: auto;
  max-width: 325px;
  height: 440px;
  object-fit: cover;
  margin: 0.5rem;
  border-radius: 8px;
}

.test {
  font-weight: 600;
  font-style: italic;
}
