body {
  background-color: aquamarine;
}

img {
  /* width: 500px; */
  border: 2px solid black;
}

header{
    padding-top: 1rem;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container img{
    /* margin-left: 2rem; */
}


nav {
  background-color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    /* justify-content: flex-end; */
    justify-content: space-around;
    align-content: center;
  }
  nav li {
    height: 50px;
  }

  nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
  }
  nav a:hover {
    background-color: #f0f0f0;
  }
  
  nav li:first-child {
    /* margin-right: auto; */
    background-color: red;
  }

  header h1{
    margin-left: 2rem;
    font-size: 3rem;
  }


  footer{
    margin-top: auto;
  }